@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
body{
    margin:auto;
}
header{
    background-color: #000;
    height: 70px;
    width: 100%;
    
}
header>div>div>p{
    color: #fff;
}
header>div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.timeline{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.label{
    width: 60%;
}
p{
    font-family: Roboto Mono;
}

.inst{
    width: 100%;
    margin: auto;
}
.instbox{
    margin: auto;
    width: 100%;
}
.instbox>p{
    text-align: center;
}
.instas{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.instas>div{

}
